LimeSurvey URL<input id="url1" value=""/><br />
Survey ID<input id="sid"value="<%= @q_sid %>" /><br />
Answer ID<input id="id" value="<%= @q_id %>" /><br />
SendTo URL<input id="url2" value="" /><br />
<hr noshade="noshade" />
<input id="csv" name="csv" rows="10" cols="60"></input><br />
<a id="lytebox" class="lytebox" data-title="Fermez la fenêtre après connexion" data-lyte-options="width:400 height:300 scrollbars:no refreshPage:true">Connexion à LimeSurvey en Administrateur</a>

<%= content_for :custom_javascript do %>
<script type="text/javascript">
  $(document).ready(function() {
    if ($('#url1').val()=="") {$('#url1').val('http://localhost/limesurvey/admin/admin.php');};
    if ($('#url2').val()=="") {$('#url2').val('http://localhost:3000/questionnaires.json');};
    sid = $('#sid').val();
    id = $('#id').val();
    url1 =  $('#url1').val();
    params = 'action=exportresults&exportstyle=headcodes&answers=long&type=csv&sid='+sid+'&answerid='+id;
    url3 = url1+"?"+params;
    
    $('#csv').load(url3);
  });
</script>
<% end %>
